html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  color: #666666;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

b {
  font-weight: 600;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}
.container {
  max-width: 40rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}
.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead ul {
    margin: 0px;
    padding: 0px;
}
.masthead li {
    display: inline;
    margin-right: 2rem;
}
.pagination {
  overflow: hidden; // clearfix
  margin: 0 -1.5rem 1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: 1rem;
  border: solid #eee;
  border-width: 1px 0;

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: #f5f5f5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "New Century Schoolbook", "Century Schoolbook", Georgia, serif;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1, {
  font-size: 1.5rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}
h3, h4, h5, h6, {
  margin-top: 1rem;
  font-size: 1rem;
}

.name {
    font-size 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}



dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

iframe {
  margin-left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 0;
  width: 36rem;
}

.highlight, .code {
    margin: 1em 2em 1em 2em;
    padding: 0 0 0 10px;
  border-width: 1px 0 0 1px;
  border-color: #bbb;
  border-style: solid;
  width: 300px;
}

sup {
  vertical-align: 0;
  position: relative;
  top: -0.4em;
}
.score {
  margin: 1em 0 1em 4em;
}
pre + p .score {
  margin: -2.5em 0 1em 0;
  padding: 5px 0 5px 4em;
  border-width: 0 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}

.footnotes {
    background-color: #ddd;
    padding: 10px;
    margin: 0;
    bottom: 100%;
}

.masthead {
    background-color: #ddd;
    padding: 10px;
    margin: 0;
    top: 0;
}

.older {
    float: left;
    margin-left: -100px;
    margin-right: -100px;
}
.newer {
    float: right;
    margin-right: -100px;
    margin-left: -100px;
}