body {
  background: #fafaee;
  background: #fff;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #666666;
  margin: 0px;
  padding: 0px;
}
b {
  font-weight: 600;
}
@media (min-width: 38rem) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}
h3 {
  margin: 0px;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}



dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}
iframe {
  margin-left: 0em;
  padding-left: 40px;
  padding-right: 0em;
  margin-right: 0em;
  width: 560px;
}

.highlight {
  margin: 2em 1em 2.5em 0;
  padding: 5px 0 5px 10px;
  border-width: 1px 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}
.code {
  margin: 2em 1em 2.5em 0;
  padding: 5px 0 5px 10px;
  border-width: 1px 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}

sup {
  vertical-align: 0;
  position: relative;
  top: -0.4em;
}
.score {
  margin: 1em 0 1em 4em;
}
pre + p .score {
  margin: -2.5em 0 1em 0;
  padding: 5px 0 5px 4em;
  border-width: 0 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}

div.floatbox ul {
  text-align: left;
  padding-left:0px;
  padding-right:0px;
  margin-left:30px;
  margin-right:0px;
}
div.floatbox li {
  list-style-type: none;
}
div.floatbox {
  text-align: center;
  position: fixed; 
  font-size: 14px;
  left: 70px;
  width: 160px;
  height: 160px;
  top: 150px;
  background: #ddd;
  color: #088;
  padding: 10px;
}
div.icons {
  position: fixed;
  left: 100%;
  top: 100%;
  margin-left: -108px;
  margin-top: -36px;
}
div.scroll {
  position: relative;
  left: 315px;
  top: 150px;
  width: 600px;
  padding: 5px;
}
div.scroll li {
  margin: 0 0 1.6em 0;
}
div.floatbox hr {
  border: 0;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
div.scroll hr {
  border: 0;
  height: 2em;
  background: #fff;
}

img.score {
  max-width: 150%;
}

header {
  padding-bottom: 3.6em;
}

header h1 {
  display: inline;
}

.older { float:left; }
.newer { float: right; }
.post-meta {
  display: inline;
  font-style: italic;
  line-height: 48px;
  float: right;
}

dl {
  margin: 0 0 1.6em 0;
}

dd {
  margin: 0 0 1.6em 2em;
  font-style: italic;
}
