body {
  background: #fafaee;
  background: #fff;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #666666;
  margin: 0px;
  padding: 0px;
}
b {
  font-weight: 600;
}

p {
  margin: 0 0 1.6em 0;
  padding: 0;
}

iframe {
  margin-left: 0em;
  padding-left: 40px;
  padding-right: 0em;
  margin-right: 0em;
  width: 560px;
}

.code {
  margin: 2em 1em 2.5em 0;
  padding: 5px 0 5px 10px;
  border-width: 1px 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}

sup {
  vertical-align: 0;
  position: relative;
  top: -0.4em;
}
.score {
  margin: 1em 0 1em 4em;
}
pre + p .score {
  margin: -2.5em 0 1em 0;
  padding: 5px 0 5px 4em;
  border-width: 0 0 0 1px;
  border-color: #bbb;
  border-style: solid;
}

h1 {
  font-family: "Lato";
  margin: 4em 0 1em 0;
  font-size: 28px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-family: "Lato";
  margin: 4em 0 1.6em 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1:first-child, h2:first-child {
  margin: 0 0 1.6em 0;
}
h3 {
  font-family: "Lato";
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
div.floatbox ul {
  text-align: left;
  padding-left:0px;
  padding-right:0px;
  margin-left:30px;
  margin-right:0px;
}
div.floatbox li {
  list-style-type: none;
}
div.floatbox {
  text-align: center;
  position: fixed;
  left: 70px;
  width: 160px;
  height: 160px;
  top: 150px;
  background: #ddd;
  color: #088;
  padding: 10px;
}
div.icons {
  position: fixed;
  left: 100%;
  top: 100%;
  margin-left: -108px;
  margin-top: -36px;
}
div.scroll {
  position: relative;
  left: 315px;
  top: 150px;
  width: 600px;
  padding: 5px;
}
div.scroll li {
  margin: 0 0 1.6em 0;
}
a:hover {
  color: #008888;
  text-decoration: underline;
}
a {
  color: #008888;
  text-decoration: none;
}
.older {
  float: left;
}
.newer {
  float: right;
}
div.floatbox hr {
  border: 0;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
div.scroll hr {
  border: 0;
  height: 2em;
  background: #fff;
}

img.score {
  max-width: 150%;
}

header {
  padding-bottom: 3.6em;
}

header h1 {
  display: inline;
}

.post-meta {
  display: inline;
  font-style: italic;
  line-height: 48px;
  float: right;
}

dl {
  margin: 0 0 1.6em 0;
}

dd {
  margin: 0 0 1.6em 2em;
  font-style: italic;
}

